img {
    margin-top: -5vh;
}

#firstTable {
    background-color: rgb(35, 48, 113);
    color : #97D2EC;
    font-size:30px;
    padding : 25vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-right: -0.1vh;
    border-spacing: 35px;
    font-weight: 700;
}

#secondTable {
    background-color: rgba(35, 48, 113, 0);
    color : #97D2EC;
    font-size:30px;
    padding : 3vh;
    margin-top: -30vh;
    margin-right: -0.1vh;
    border-spacing: 30px;
    font-weight: 700;
}

#porttable {
    background-color: #25316D;
    color : #97D2EC;
    font-size:30px;
}
td {
    opacity: 1;
    padding: 0.7vh;
    border: 1px solid rgb(37,49,109); 
    margin: 1vh;
    box-shadow: 0px 6px 8px 1px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}
#Tables {
    color : #97D2EC;
    font-size:30px;
    padding : -0.2vh;
    margin-top: -10vh;
    border-spacing: 35px;
}

#hello {
    background-color: rgb(35, 48, 113);
    color : #97D2EC;
    font-size:30px;
    padding : 10vh;
    margin-top: 16vh;
    margin-right: -0.1vh;
    border-spacing: 30px;
    font-weight: 700;
}
#porttable {
    background-color: #25316D;
    color : #97D2EC;
    font-size:30px;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 2.2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #97D2EC; }
}
.box {
    opacity:1.0;
    padding: 10px; 
    border: 1px solid #222c60;
    margin: 10px;
    background-color: #25316d;
    box-shadow: 0px 3px 8px 1px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}
.box:hover { 
    background: rgb(35, 48, 113);
    background: linear-gradient(0deg, rgb(24, 39, 113) 100%, rgba(30,67,73,1) 100%);
    box-shadow: 0px 4px 8px 5px #5F6F94;
    transition: 0.5s;
    opacity : 1;
}
.header {
    color : #97D2EC;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.mainBox {
    background-color: rgb(37,49,109);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: top;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
a {
    color : #97D2EC;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { text-align: center; }

#carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
  scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */

  margin: 0 auto 0 auto;
  width: 90vw;
  height: fit-content;
  
  border: solid #F3E6FF .5px;
}

#carousel::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}

.item {
  min-width: 300px;
  min-height: 20vh;
  margin: 15px;

  font-size: 5em;
  text-align: center;
  line-height: 300px;
  background-color: #FFF9EF;
  border-radius: 7px;
}
