#git {
    font-weight: 800;
}
#PortfolioTable {
    background-color: rgb(35, 48, 113);
    color : #97D2EC;
    font-weight : 800;
    
}
#hello {
    background-color: rgba(35, 48, 113, 0.027);
    color : #97D2EC;
    font-size:30px;
    padding : 10vh;
    margin-top: 15vh;
    margin-right: 2vh;
    border-spacing: 30px;
    font-weight: 800;
}
#porttable {
    background-color: #25316D;
    color : #97D2EC;
    font-size:30px;
}
.head {
    overflow-y: hidden;
}
.header {
    color : #97D2EC;
    background-color: #25316D;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

}
.header5 {
    color : #97D2EC;
    background-color: #25316D;
    position: absolute;
    left: 37%;
    top: 65%;
    transform: translate(-50%, -50%);

}
.header2 {
    color : #97D2EC;
    background-color: #25316D;
}
.header3 {
    color : #97D2EC;
    background-color: #25316D;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);

}
.header4 {
    color : #97D2EC;
    background-color: #25316D;
    /* position: absolute; */
    /*left: 55%;
    top: 45%;
    transform: translate(-50%, -50%); */

}
.box {
    opacity:1.0;
    padding: 10px; 
    border: 1px solid #222c60;
    margin: 10px;
    background-color: rgb(37,49,109);
    box-shadow: 0px 5px 40px 5px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}

.fifthbox {
    padding: 10px; 
    border: 1px solid #222c60;
    margin: 10px;
    background-color: rgb(37,49,109);
    box-shadow: 0px 1px 40px 1px #5F6F94;
    transition: 0.3s;
    border-radius: 10px;
    letter-spacing: 2px;
}
.firstbox {
    padding: 1.2vh; 
    border: 1px solid rgba(37, 49, 109, 0); 
    margin: 5vh;
    box-shadow: 0px 1px 40px 1px #5F6F94;
    width: 36vh;
    height : 2vw;
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    letter-spacing: 2px;
}
.secondbox {
    opacity : 0.6;
    padding: 10px; 
    border: 1px solid rgba(37, 49, 109, 0); 
    margin: 10px;
    box-shadow: 0px 5px 40px 5px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}
.thirdbox {
    padding: 10px; 
    border: 1px solid #222c60;
    margin: 10px;
    background-color: rgb(37,49,109);
    box-shadow: 0px 1px 40px 1px #5F6F94;
    transition: 0.3s;
    border-radius: 10px;
    letter-spacing: 2px;
}
.fourthbox {
    padding: 10px; 
    border: 1px solid rgb(37,49,109); 
    margin: 10px;
    box-shadow: 0px 1px 40px 1px #5F6F94;
    position : absolute;
    border-radius: 10px;
    letter-spacing: 2px;
}

#Tables {
    background-color: rgb(35, 48, 113);
    color : #97D2EC;
    font-size:30px;
    padding : 0vh;
    margin-top: -10vh;
    border-spacing: 30px;
}

#Tables th {
    padding: 0.7vh;
    border: 1px solid rgb(37,49,109); 
    margin: 1vh;
    box-shadow: 0px 1px 40px 1px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}
td {
    opacity: 1;
    padding: 0.7vh;
    border: 1px solid rgb(37,49,109); 
    margin: 1vh;
    box-shadow: 0px 6px 8px 1px #5F6F94;
    border-radius: 10px;
    letter-spacing: 2px;
}
td:hover { 
    background: rgb(35, 48, 113);
    background: linear-gradient(0deg, rgb(24, 39, 113) 100%, rgba(30,67,73,1) 100%);
    box-shadow: 0px 5px 40px 5px #5F6F94;
    transition: 0.5s;
    opacity : 1;
}


.background {
    background-color: rgb(35, 48, 113);
}
.box:hover { 
    background: rgb(35, 48, 113);
    background: linear-gradient(0deg, rgb(24, 39, 113) 100%, rgba(30,67,73,1) 100%);
    box-shadow: 0px 5px 40px 5px #5F6F94;
    transition: 0.3s;
}
#Tables th:hover {
    opacity : 1;
    background: linear-gradient(0deg, rgb(24, 39, 113) 100%, rgba(30,67,73,1) 100%);
    box-shadow: 0px 5px 40px 5px #5F6F94;
    transition: 0.5s;
}
.mainBox {
    background-color: rgb(37,49,109);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: top;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
a {
    color : #97D2EC;
}